*{
    padding: 0;
    margin: 0;
}
body{
    background: url("../中部背景.jpg") no-repeat;
}
 a{
     color: black;
     text-decoration: none;
 }
 .body{
     margin-top: 250px;
 }
 .body1,.body2{
     
     height: 500px;
     width: 100%;
     display: flex;
     align-content: space-between;
     justify-content:space-around;
     
 }
  
 .body .bodycontent{
    
    overflow: hidden;
     height: 400px;
     width: 900px;
      
     transition:all  2s;
     
}
.bodycontent p{

  text-indent: 2em;
  line-height: 25px;
  line-height: 30px;
 }
 .body .bodycontent .f{
     float: left;
     margin-right: 16px;
 }
 .body .bodycontent img{
     float:right;
     width:555px;
      height: 400px;
     transition:all  0.5s;
     
 }
 .bodycontent img:hover{
    transform: scale(1.05,1.1);
   
    
 }
.bodycontent p span{
    color: red;
}
 
 .footer{
     height: 500px;
     width: 100%;
     background-color: #c5a57f;
 }
 .footerbanner{
     width: 1400px;
     
     
     margin:  0 auto;
      
     padding-top: 40px;
      
      
     display: flex;
     justify-content: space-around;
 }
 .footerbanner a{
     display: block;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background-color:  #61584a;
     line-height: 100px;
     text-align: center;
     font-size: 20px;
 }
 .footerbanner a:hover{
     background-color: #a46544;
     color: aliceblue;
 }
 .footerin{
     width: 1400px;
       text-indent: 2em;
      margin: 50px auto;
      line-height: 30px;

 }
 .footerin img{
     float:right;
 }
 #test{
    margin-left: 30px;
 }
 #test2{
    margin-left: 30px;
 }
 body{
    transform: scale(0.8,0.8);
 }
 